In [1]:
import pandas as pd

In [2]:
# Create a Pandas Series
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Print the Series
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# Create a DataFrame using a dictionary
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'London', 'Berlin']
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    London
3  Linda   32    Berlin

In [4]:
# Access the 'Name' column
print(df['Name'])

0     John
1     Anna
2    Peter
3    Linda
Name: Name, dtype: object

In [5]:
# Access 'Name' and 'Age' columns
print(df[['Name', 'Age']])

    Name  Age
0   John   28
1   Anna   24
2  Peter   35
3  Linda   32

In [6]:
# Access the first row
print(df.iloc[0])

Name        John
Age           28
City    New York
Name: 0, dtype: object

In [7]:
# Add a new column 'Salary'
df['Salary'] = [50000, 55000, 60000, 65000]
print(df)

    Name  Age      City  Salary
0   John   28  New York   50000
1   Anna   24     Paris   55000
2  Peter   35    London   60000
3  Linda   32    Berlin   65000

In [8]:
# Increase all salaries by 10%
df['Salary'] = df['Salary'] * 1.10
print(df)

    Name  Age      City   Salary
0   John   28  New York  55000.0
1   Anna   24     Paris  60500.0
2  Peter   35    London  66000.0
3  Linda   32    Berlin  71500.0

In [9]:
# Drop the 'City' column
df = df.drop(columns=['City'])
print(df)

    Name  Age   Salary
0   John   28  55000.0
1   Anna   24  60500.0
2  Peter   35  66000.0
3  Linda   32  71500.0

In [10]:
# Get rows where Age is greater than 30
filtered_df = df[df['Age'] > 30]
print(filtered_df)

    Name  Age   Salary
2  Peter   35  66000.0
3  Linda   32  71500.0

In [ ]:
# Get rows where Age is greater than 30 and Salary is less than 60000
filtered_df = df[(df['Age'] > 30) & (df['Salary'] < 60000)]
print(filtered_df)